/*Tipo Pokemon de Card */
.card-type .Grass {
    background-color: MediumSeaGreen;
    color: White;
    border-radius: 3px;
    margin: 0 3% 0 0;
    line-height: 1.5em;
    width: 30%;
    font-size: 0.7em;
    text-align: center;
  }
  
  .card-type .Poison {
    background-color: DarkOrchid;
    color: White;
    border-radius: 3px;
    margin: 0 3% 0 0;
    line-height: 1.5em;
    width: 30%;
    font-size: 0.7em;
    text-align: center;
  }
  
  .card-type .Fire {
    background-color: DarkOrange;
    color: White;
    border-radius: 3px;
    margin: 0 3% 0 0;
    line-height: 1.5em;
    width: 30%;
    font-size: 0.7em;
    text-align: center;
  }

  .card-type .Flying {
    background-color: DeepSkyBlue;
    color: White;
    border-radius: 3px;
    margin: 0 3% 0 0;
    line-height: 1.5em;
    width: 30%;
    font-size: 0.7em; 
    text-align: center;
  }
  
  .card-type .Water {
    background-color: DodgerBlue;
    color: White;
    border-radius: 3px;
    margin: 0 3% 0 0;
    line-height: 1.5em;
    width: 30%;
    font-size: 0.7em;
    text-align: center;
  }

  .card-type .Psychic {
    background-color: Violet;
    color: White;
    border-radius: 3px;
    margin: 0 3% 0 0;
    line-height: 1.5em;
    width: 30%;
    font-size: 0.7em;
    text-align: center;
  }

  .card-type .Ice {
    background-color: LightSkyBlue;
    color: White;
    border-radius: 3px;
    margin: 0 3% 0 0;
    line-height: 1.5em;
    width: 30%;
    font-size: 0.7em;
    text-align: center;
  }

  .card-type .Ground {
    background-color: DarkGoldenrod;
    color: White;
    border-radius: 3px;
    margin: 0 3% 0 0;
    line-height: 1.5em;
    width: 30%;
    font-size: 0.7em;
    text-align: center;
  }

  .card-type .Rock {
    background-color: SaddleBrown;
    color: White;
    border-radius: 3px;
    margin: 0 3% 0 0;
    line-height: 1.5em;
    width: 30%;
    font-size: 0.7em;
    text-align: center;
  }

  .info .info-block .Electric {
    background-color: Gold;
    color: White;
    border-radius: 3px;
    padding: 10px 30px;
    margin: 0 3% 0 0;
    text-align: center;
    display: inline-block;
  }

  /*Tipo Pokemon de Info*/
  .info .info-block .Grass {
    background-color: MediumSeaGreen;
    color: White;
    border-radius: 3px;
    padding: 10px 30px;
    margin: 0 3% 0 0;
    text-align: center;
    display: inline-block;
  }
  
  .info .info-block .Poison {
    background-color: DarkOrchid;
    color: White;
    border-radius: 3px;
    padding: 10px 30px;
    margin: 0 3% 0 0;
    text-align: center;
    display: inline-block;
  }

  .info .info-block .Fire {
    background-color: DarkOrange;
    color: White;
    border-radius: 3px;
    padding: 10px 30px;
    margin: 0 3% 0 0;
    text-align: center;
    display: inline-block;
  }

  .info .info-block .Flying {
    background-color: DeepSkyBlue;
    color: White;
    border-radius: 3px;
    padding: 10px 30px;
    margin: 0 3% 0 0;
    text-align: center;
    display: inline-block;
  }

  .info .info-block .Water {
    background-color: DodgerBlue;
    color: White;
    border-radius: 3px;
    padding: 10px 30px;
    margin: 0 3% 0 0;
    text-align: center;
    display: inline-block;
  }

  .info .info-block .Psychic {
    background-color: Violet;
    color: White;
    border-radius: 3px;
    padding: 10px 30px;
    margin: 0 3% 0 0;
    text-align: center;
    display: inline-block;
  }

  .info .info-block .Ice {
    background-color: LightSkyBlue;
    color: White;
    border-radius: 3px;
    padding: 10px 30px;
    margin: 0 3% 0 0;
    text-align: center;
    display: inline-block;
  }

  .info .info-block .Ground {
    background-color: DarkGoldenrod;
    color: White;
    border-radius: 3px;
    padding: 10px 30px;
    margin: 0 3% 0 0;
    text-align: center;
    display: inline-block;
  }

  .info .info-block .Rock {
    background-color: SaddleBrown;
    color: White;
    border-radius: 3px;
    padding: 10px 30px;
    margin: 0 3% 0 0;
    text-align: center;
    display: inline-block;
  }

  .info .info-block .Electric {
    background-color: Gold;
    color: White;
    border-radius: 3px;
    padding: 10px 30px;
    margin: 0 3% 0 0;
    text-align: center;
    display: inline-block;
  }